p {text-align: justify;}

.padded-10 {padding-top:10px;}

img.center {margin:0px auto 0px auto;}

.row {max-width: 75rem;}
//Sidebar Nav
.sidebar {background-color:#fafafa;}
a.sidebar-link {font-size:0.75rem!important;}
