<ul class="accordion" data-accordion class="sidebar">
  <li class="accordion-navigation">
    <a href="#panel-chapter-1">Chapter 1</a>
    <div id="panel-chapter-1" class="content sidebar">
      <ul>
      <li><a href="/chapter1/1-1-basic-properties-of-matter.html" class="sidebar-link">1.1 Basic Properties of Matter</a></li>
      <li><a href="/chapter1/1-2-changes-in-matter.html" class="sidebar-link">1.2 Changes in Matter</a></li>
      <li><a href="/chapter1/1-3-classification-of-matter.html" class="sidebar-link">1.3 Classification of Matter</a></li>
    </div>
  </li>
  <li class="accordion-navigation">
    <a href="#panel-chapter-2">Chapter 2</a>
    <div id="panel-chapter-2" class="content">
      <ul>
      <li><a href="/chapter2/2-1-development-of-atomic-theory.html" class="sidebar-link">2.1 Development of Atomic Theory</a></li>
      <li><a href="/chapter2/2-2-understanding-light.html" class="sidebar-link">2.2 Understanding Light</a></li>
      <li><a href="/chapter2/2-3-bohr-planetary-model.html" class="sidebar-link">2.3 Bohr &amp; the Planetary Model</a></li>
      <li><a href="/chapter2/2-4-quantum-mechanical-model.html" class="sidebar-link">2.4 The Quantum Atom</a></li>
    </ul>
    </div>
  </li>
</ul>
